<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Bevételezés - részletes nézet"></Label>
</ActionBar>

<StackLayout class="page">
    <Label text="{{ orderEntity.id }} azonosítójú bevételezés" class="h1 text-center"></Label>
    <Button text="Új bevételezési termék" (tap)="onNewOrderItem()" class="btn btn-primary btn-active"></Button>
    <GridLayout backgroundColor="white">
        <StackLayout class="list-group-item">
            <Label text="{{ orderEntity.id }} azonosítójú bevételezés" class="label font-weight-bold"></Label>
            <Label text="létrehozás dátuma: {{orderEntity.createDate | date:'yyyy. MM. dd.'}}" class="footnote"></Label>
            <Label text="raktárba felvétel dátuma: {{orderEntity.dueDate | date:'yyyy. MM. dd.'}}" class="footnote"></Label>
            <Label text="fizetés dátuma: {{orderEntity.paymentDate | date:'yyyy. MM. dd.'}}" class="footnote"></Label>
            <Label text="státusza: {{orderEntity.statusName}}" class="footnote"></Label>
            <Label text="bevételezendő termékek száma: {{orderEntity.orderItemList.length}}" class="footnote"></Label>
            <GridLayout rows="auto" columns="*, *">
                <Button text="Szerkesztés" (tap)="onEdit()" class="btn btn-primary btn-active" margin="5" row="0"
                        col="0">
                </Button>
                <Button text="Törlés" (tap)="onDelete()" class="btn btn-danger" margin="5" row="0"
                        col="1"></Button>
        </GridLayout>
        </StackLayout>
        <ListView [items]="orderItems" class="list-group">
            <ng-template let-orderItem="item">
                <StackLayout class="list-group-item" (tap)="onDetailTap(orderItem)">
                    <Label text="{{ orderItem.id }} azonosítójú tétel" class="label font-weight-bold"></Label>
                    <Label text="termék neve: {{orderItem.productName}}" class="footnote"></Label>
                    <Label text="termék azonosítója: {{orderItem.productId}}" class="footnote"></Label>
                    <!--<Label text="termék vonalkódja: {{barcodeNumber}}" class="footnote"></Label>-->
                    <Label text="termék mennyisége: {{orderItem.quantity}} {{orderItem.productUnitOfMeasurement}}" class="footnote"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</StackLayout>
